@using RollTheDiceGmtk2022.Game
@if (Outcome != null)
{
    <h3 style="margin-top: 20px;text-align:left;">The gods say...</h3>
    <table style="text-align:left;">
        <tr>
            <td>Win Percentage</td><td> @Outcome.Won.ToString("P")</td>
        </tr>
        <tr>
            <td>100% Survival Percentage</td><td>@Outcome.AllPartyMembersSurvived.ToString("P")</td>
        </tr>
    </table>
}

@code {

    [Parameter]
    public GameOutcomeProbability Outcome { get; set; }

}
