@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#app .container-fluid {
    width: 1600px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

h3 {
    font-family: 'heorot';
}

.oracle-dice-match-container {
    background: url('../oracle.png');
    background-position-x: -40px;
    background-position-y: 8px;
}

.dice-table {
    background: url('../dice_table.png');
    background-size: 300px;
    height: 98px;
    background-position-y: 20px;
    background-repeat: no-repeat;
    padding: 5px;
}

.dice-table .dice-match-rule {
    box-shadow: 2px 2px 6px 1px #000;
}

.card-hand {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-content: space-between;
}

.turn-number {
    display: inline-block;
    line-height: 65px;
    font-size: 24px;
    margin-right: 15px;
    font-size: 3em;
    color: white;
    text-shadow: -1px 1px 3px black;
}

.oracle-dice-match-container {
    display: inline-block;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    position: absolute;
    top: -75px;
    left: 0;
}

.turn-progression {
    display: inline-block;
    line-height: 65px;
    font-size: 50px;
    margin-top: 5px;
    position: relative;
    left: 115px;
}

.card {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    min-height: 360px;
    background: #C27258;
    background-size: 100%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin-bottom: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
}

.missing-card-instructions {
    color: #fff;
    margin-top: 75px;
}

.card-selection {
    margin-top: 10px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 2px;
    letter-spacing: 1px;
}

.card-deck .card:first-child {
    margin-left: 0;
}

.card-deck .card:last-child {
    margin-right: 0;
}

.card.missing-card {
    background: url("../door.png");
    background-size: 100%;
}

.list-group-item {
    background: none;
}

.list-group-item .border-right {
    border-color: #EE9463 !important;
}

.card-header {
    background: url("../cardheader.png");
    height: 85px;
}

.card-header-name {
    font-family: 'Heorot';
    font-size: 250%;
    color: #EE9463;
    text-shadow: 0px 1px 0px #000;
}

.hp {
    border: 1px solid #EE9463;
    color: #fff;
    font-size: 1rem;
    line-height: 60px;
    margin-right: 10px;
    padding: 5px;
    vertical-align: middle;
    letter-spacing: 1.5px;
}

button.close.remove-card {
    border-radius: 5px;
    border: 1px solid black;
    width: 26px;
    position: absolute;
    top: -25px;
    right: -15px;
    opacity: 1;
    background-color: black;
    color: red;
}

button.close.remove-card span {
    margin-top: -2px;
}

.dice-match-rule {
    display: inline-block;
    color: #fff;
    width: 50px;
    height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    background: url("../dice_background.png");
    font-size: 0.8em;
    text-shadow: 0px 1px #90868a;
    vertical-align: top;
    
}

.dice-match-rule + .dice-match-rule {
    margin-left: 10px;
}

.dice-match-rule:empty {
    background:none;
    background-color: transparent;
    border-color: #EE9463;
    border-style: dotted;
    border-width: 2px;
    height: 50px;
    width: 50px;
}

.card .dice-match-rule {
    margin-top: 15px;
}

.draggable-dice-match-rule-receiver + .draggable-dice-match-rule-receiver {
    margin-left: 10px;
}

.draggable-dice-match-rule-receiver:empty {
    position: relative;
    top: -1px;
}

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #C27258;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #EE9463;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #EE9463;
    }




/*===================*/
/* BOB
/*===================*/

@-webkit-keyframes bob-on-hover {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-on-hover {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes bob-on-hover-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-on-hover-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bob-on-hover, .bob-on-hover, .bob-on-hover {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}